.bmi-section {
  display: flex;
  justify-content: center;
  grid-gap: 4.6rem;
  align-items: center;
  background: transparent;
  margin-top: 13rem;
}
.bmi-section .bmi-img {
  position: relative;
  text-align: center;
}

.bmi-section .bmi-img img {
  max-width: 400px;
  height: auto;
  animation: fadeInUp 0.5s ease-in-out 0.8s;
  animation-fill-mode: both;
}

.bmi-content img {
  width: 63px;
  animation: fadeInUp 0.5s ease-in-out;
}
.bmi-content h2 {
  color: #0a3cee;
  font-weight: 900;
  font-size: 3.3rem;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.bmi-content p {
  color: #040404;
  font-weight: 300;
  font-size: 1.3rem;
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.bmi-link {
  text-decoration: none;
  width: 200px;
  text-align: center;
  background: #1f51ff;
  padding: 14px;
  font-size: 20px;
  color: white;
  border-radius: 18px;
  animation: fadeInUp 0.5s ease-in-out 0.6s;
  animation-fill-mode: both;
}
.bmi-link:hover {
  background-color: #0c0d0e !important;
}

.bmi-container-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
  grid-gap: 2.3rem;
}
.form-bmi-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bmi-container-detail h5 {
  margin: 1.1rem auto 3.2rem auto;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
}
.bmi-container-detail h2 {
  color: #0a3cee;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: left;
}

.bmi-container-detail p {
  padding: 0.8rem;
  color: #181819;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2rem;
}
.bmi-container-detail p span {
  color: #fff;
  margin-left: 8px;
}
.form-bmi-detail input {
  width: 190px;
  height: 40px;
  margin: auto;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
}
.btn-bmi-detail {
  width: 190px;
  height: 48px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  background-color: #0c2aed !important;
  color: #fff !important;
  border: 1px solid transparent;
}
.btn-bmi-detail:hover {
  border-color: #dcca87;
}
.bmi-image {
  width: 100px;
  height: auto;
  margin-top: 0.5rem;
  margin-left: 15rem;
}
.bmi-container-detail .bmi-detail-img {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}
.bmi-container-detail .bmi-detail-img img {
  max-width: 400px;
  height: auto;
}

.bmi-results {
  height: 350px;
  width: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1150px) {
  .bmi-container-detail {
    flex-direction: column;
  }

  .bmi-container {
    text-align: center;
    height: 290px;
  }
  .bmi-container-detail h2 {
    font-size: 2.9rem;
    text-align: center;
  }
  .bmi-container-detail h5 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2;
  }
  .bmi-container-detail p {
    margin-left: 0.5rem;
  }
  .bmi-container-detail .bmi-detail-img img {
    max-width: 380px;
  }
  .bmi-image {
    margin-left: 9.4rem;
  }
  .form-bmi-detail {
    flex-direction: column;
  }
  .bmi-section {
    flex-direction: column;
  }
  .bmi-section .bmi-img img {
    max-width: 300px;
  }
  .bmi-content {
    text-align: center;
  }
  .bmi-content h2 {
    font-size: 2.4rem;
    margin-bottom: 0.9rem;
    margin-top: 0.4rem;
  }
  .bmi-content p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2.4rem;
  }
}
