.app-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 1rem 2rem;
  background-color: #000;
}

.app-navbar-logo {
  display: flex;
  align-items: center;
}

.app-navbar-logo img {
  width: 120px;
}

.app-navbar-links {
  display: flex;
  align-items: center;
  font-size: 21px;
  list-style: none;
}

.app-navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #dcca87;
  position: absolute;
  bottom: -6px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}
.navbar-link:hover::after {
  color: #dcca87;
  transform: scaleX(1);
  transform-origin: left center;
  transition-delay: 0.4s;
}

.app-navbar-small {
  display: none;
}

.app-navbar-small-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.app-navbar-small-overlay .overlay-close {
  font-size: 27px;
  color: #dcca87;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.app-navbar-small-links {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.app-navbar-small-links li {
  margin: 2rem;
  cursor: pointer;
  font-size: 1.7rem;
  text-align: center;
}
.navbar-link-small {
  text-decoration: none;
  color: #fff;
}
.navbar-link-small:hover {
  color: #dcca87;
}

.slide-bottom {
  animation: slideBottom 0.5s ease-in-out;
}
@keyframes slideBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1150px) {
  .app-navbar-links {
    display: none;
  }
  .app-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #000;
  }
  .app-navbar-small {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .app-navbar {
    padding: 1rem;
  }
  .app-navbar-logo img {
    width: 110px;
  }
}
